@charset "utf-8";
body h1 {
	color: #D86B29;
	font-family: Osaka-mono, "MS Gothic", monospace;
}
.key {
	color: #E2292C;
}
body p img {
}

body p img {
	border-width: 10px;
	border-color: #8E090B;

}
body p img {
	color: #2B0DDC;
}
